<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content - {{ content['title'] }}</title>
</head>
<body>
    <h3>{{ content['title'] }}</h3>
    <table>
        {% for key, value in content.items() %}
        <tr>
            <td><b>{{ key }}</b></td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="float:left">

        <h4>Cosine Overview TFIDF</h4>
            <table>
                <tr>
                    <td><b>Title</b></td>
                    <td><b>Similarity</b></td>
                </tr>
                {% for content in descsimcontents %}
                <tr>
                    <td><a href="http://127.0.0.1:5003/content/{{ content['id'] }}">{{ content['title']}}</a></td> <td>{{ content['similarity'] }} </td>
                </tr>
                {% endfor %}
            </table>
    </div>
    <div style="float:left">

    <h4>Cosine Genre TFIDF</h4>
        <table>
            <tr>
                <td><b>Title</b></td>
                <td><b>Similarity</b></td>
            </tr>
            {% for content in genressimcontents %}
            <tr>
                <td><a href="http://127.0.0.1:5003/content/{{ content['id'] }}">{{ content['title']}}</a></td> <td>{{ content['similarity'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="float:left">

    <h4>Cosine Cast TFIDF</h4>
        <table>
            <tr>
                <td><b>Title</b></td>
                <td><b>Similarity</b></td>
            </tr>
            {% for content in castsimcontents %}
            <tr>
                <td><a href="http://127.0.0.1:5003/content/{{ content['id'] }}">{{ content['title']}}</a></td> <td>{{ content['similarity'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
     <div style="float:left">

    <h4>Cosine Keywords TFIDF</h4>
        <table>
            <tr>
                <td><b>Title</b></td>
                <td><b>Similarity</b></td>
            </tr>
            {% for content in keywordsimcontents %}
            <tr>
                <td><a href="http://127.0.0.1:5003/content/{{ content['id'] }}">{{ content['title']}}</a></td> <td>{{ content['similarity'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="float:clear">
    <h4>Cosine User Ratings</h4>
        <table>
            <tr>
                <td><b>Title</b></td>
                <td><b>Similarity</b></td>
            </tr>
            {% for content in watchhistsimcontents %}
            <tr>
                <td><a href="http://127.0.0.1:5003/content/{{ content['id'] }}">{{ content['title']}}</a></td> <td>{{ content['similarity'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>