<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reco Engine Main</title>
</head>
<body>
    <div>
        <p>Select a new car from the list.</p>

    </div>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ahmedur Rahman Shovon">
    <title>Dropdown Example</title>
</head>
<body>
    <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/contents">Contents</a></li>
        <li><a href="/ratings">Ratings</a><li>
    </ul>
</body>
</html>