<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li style="display:inline"><a href="/">Main</a></li>
        <li style="display: inline"><a href="/users">Users</a></li>
        <li style="display: inline"><a href="/contents">Contents</a></li>
        <!--li style="display: inline"><a href="/ratings">Ratings</a></li-->
    </ul>
    <h3>{{ user['username'] }}</h3>
    <table>
        {% for key, value in user.items() %}
        <tr>
            <td><b>{{ key }}</b></td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="float:left">
        <h4>User Watch History</h4>
        <table>
            <tr>
                <td><b>Title</b></td>
                <td><b>Rating</b></td>
            </tr>
            {% for content in ratings %}
            <tr>
                <td><a href="http://127.0.0.1:5003/content/{{ ratings['id'] }}">{{ content['title']}}</a></td> <td>{{ content['rating'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="float:left">
        <h4>Predicted weighted ratings based on User Cosine</h4>
        <table>
            <tr>
                <td><b>Title</b></td>
                <td><b>Predicted Rating</b></td>
            </tr>
            {% for content in pre_ratings %}
            <tr>
                <td><a href="http://127.0.0.1:5003/content/{{ ratings['id'] }}">{{ content['title']}}</a></td> <td>{{ content['pre_rating'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>